* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
	color: #fff;
}

.container {
	margin: 7em auto;
	max-width: 1200px;
	width: 100%;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	font-size: 1.4em;
	background: none;
	color: goldenrod;
	border: none;
	margin: 0 3em;
	cursor: pointer;
	transition: color 0.3s ease;
}

button:hover {
	color: gold;
}

.list-items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 4em;
}

.product {
	background-color: rgb(22, 22, 22);
	border-radius: 6px;
	padding: 1em;
	margin: 1em;
}

.data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
}

h3 {
	font-size: 1.3em;
}
h5 {
	font-size: 1em;
	color: rgb(202, 174, 14);
}

.icon {
	cursor: pointer;
	font-size: 2em;
	text-align: right;
}

img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	transition: transform 0.1s ease-in;
}

img:hover {
	transform: scale(1.01);
}

.title {
	background-color: red;
	font-size: 10rem;
}

.add-or-delete {
	margin: 0em 0.5em;
	max-width: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2em;
}

.add,
.del {
	cursor: pointer;
	font-weight: bold;
}

.add {
	color: green;
}

.del {
	color: red;
}

.cart {
	margin-top: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
}
